<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761701694542-gbglu0dj22ejktrlrqhhe8lsd0abqvo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761701694542-gbglu0dj22ejktrlrqhhe8lsd0abqvo8</string>
	<key>API_KEY</key>
	<string>AIzaSyDt4KOw4Vf8ROYnyw6Zh__YKbqdCWj5ygI</string>
	<key>GCM_SENDER_ID</key>
	<string>761701694542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalproject</string>
	<key>PROJECT_ID</key>
	<string>finalprojectkodluyoruz</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectkodluyoruz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761701694542:ios:84eeae3cc409396826571f</string>
</dict>
</plist>